.app-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 172, 216);
  height: 400px;
  width: 333px;
  
}

.input-header{
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}

.todo-container{
  display:flex;
  justify-content: left, space-evenly;
}
.todo-element-container{
  align-items: center;
  justify-content: space-evenly;
}